::placeholder{
  color: white;
}
@font-face{
  font-family: Google;
  src: url('font/google.ttf')
}
@font-face{
  font-family: Roboto;
  src: url('font/roboto.ttf');
}
html{
  height:100%;
  overflow: hidden;
}
*{
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  background: url('img/bg6.jpg') center no-repeat;
  background-size: 100%;
  background-color: black;
  font-family: Roboto, sans-serif;
 
}
h1{
  font-family: Google, sans-serif;
  font-size: 60px;
  color: #00ffff;
  margin-top: 10%;
  padding-bottom: 30px;
}

#form-search{ 
  width: 40%;
  line-height: 32px;
  padding: 45px;
  height: 35px
}
#form-search{
  padding: 0 8px;
}
button{
  padding: 5px;
  background: white;
}
input{
  font-family: Roboto, sans-serif;
}
input[type="text"]{
  color: white;
  border: 0px;
  border-radius: 5px; 
  background-color: rgba(0, 0, 0, .5)
}
center{
  margin-top: -10px;
  align-self: center;
}
a{
  text-decoration: none;
  color: white
}
input[type="submit"]{
  height: 35px;
  width: 100px;
  color: white;
  background-color: rgba(255,255,255, 0.3);
  margin: 15px 5px;
  border: 0px;
  border-radius: 5px;
}
input[type="submit"]:hover{
  cursor: pointer;
  animation-name: color-change-button;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.gitlab-logo{
  width: 35px;
  height: 35px;
  text-align: center;
  margin-top: 15px;
  margin-left: 10px;
  vertical-align: bottom;
}
center > p{
  text-align: center;
  margin-top: -35px;
  margin-right: -145px;
  color: white;
  padding-bottom: 10px;
}
.gitlab-fork-ribbon{
  background-color: transparent;
  color: white;
  border: none;
  align-content: center;
  padding: 5px;
  font-size: 20px;
  width: 12.1em;
  height: 45px;
  overflow: hidden;
  margin-top: -25px;
  text-align: center;
  float: right;
}
@-webkit-keyframes color-change-button{
  from{background-color: rgba(255,255,255, 0.3);}
  to{background-color: rgba(0, 0, 0, .7);}
}
.otherbtns{
  text-align: center;
  left: 50%;
}
#date{
  color: white;
  font-size: 25px;
  text-align: center;
  width: 100%;
  padding-top: 5px;
}
#date p{
  color: white
}
ion-icon{
  vertical-align: middle;
}
.footer{
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  height: 3%
}
.footer p{
  color: white;
}
.made-by{
  padding-left: 10px;
}
span{
  color: white
}
